#cssmenu,
#cssmenu ul,
#cssmenu li #cssmenu a {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  font-family: Helvetica;
  line-height: 1;
}
#cssmenu {
  width: auto;
}
#cssmenu ul {
  zoom: 1;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #839b4e;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}
#cssmenu ul:before {
  content: '';
  display: block;
}
#cssmenu ul:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu a,
#cssmenu a:link,
#cssmenu a:visited {
  padding: 15px 20px;
  display: block;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0 -1px 1px #586835;
  border-right: 1px solid #839b4e;
}
#cssmenu a:hover {
  color: #586835;
  text-shadow: 0 1px 1px #bdcd9c;
}
#cssmenu li {
  float: left;
  border-right: 1px solid #b2c58b;
}

#cssmenu li:first-child {
  border-left: none;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
         #head{
        	font-family : "Trebuchet MS", Helvetica, sans-serif;
			font-size: 400%;
			text-align:center;
			}
         #buttonClient
        {
            text-align: center;
            margin-left:400px;
          
        }
        #clientText
        {
            text-align: left;
            color: black;
            line-height: 200%;
            height : 100px;
            width:300px;
            white-space:normal;
        }
        .bubbledLeft, .bubbledRight
        {
            margin-top: 3px;
            padding: 3px 5px 3px 5px;
            max-width: 80%;
            clear: both;
            border: 1px solid grey;
        }
        .bubbledLeft
        {
            float: left;
            margin-right: auto;
            color: black;
        }
        .bubbledRight
        {
            float: right;
            margin-left: auto;
            text-align: justify;
            color: blue;
        }
        #content{
        	font-family : "Trebuchet MS", Helvetica, sans-serif;
        	text-align:justify;
        	text-color: black;
        	text-indent: 50px;
        	overflow:hidden;
        	}
    	
       body{
       		background-color: 339966
       		}




